@using ZauberCMS.Core.Content.Interfaces
@using ZauberCMS.Core.Media.Models
@using ZauberCMS.Web.Layouts
@implements ZauberCMS.Core.Content.Interfaces.IContentView
@layout MainLayout

<PageTitle>@(Content!.GetValue<string>("PageTitle"))</PageTitle>

<SectionContent SectionId="MainLayout.Sections.PageHeadContent">
    <meta name="description" content="@(Content!.GetValue<string>("MetaDescription"))">
</SectionContent>

@*<SectionContent SectionId="MainLayout.Sections.PageBreadcrumbContent">
    <div class="container">
        <div class="col-lg-8 col-md-8 mx-auto">
        <BootstrapBreadcrumb Path="Content?.Path"/>
        </div>
    </div>
</SectionContent>*@

<header class="masthead" style="background-image: url('@(HeaderImage.Url)')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>@(Content!.GetValue<string>("Heading"))</h1>
                    <h2 class="subheading">@(Content!.GetValue<string>("Summary"))</h2>
                    <span class="meta">Posted @Content!.DateCreated.Humanize()</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @foreach (var block in ContentBlocks)
                {
                    <div class="py-3">
                        <RenderBlock Content="@(block)" TView="IContentBlockView"/>
                    </div>
                }
            </div>
        </div>
    </div>
</article>

@code {

    [Parameter] public Content? Content { get; set; }
    private List<Content> ContentBlocks { get; set; } = [];
    private Media HeaderImage { get; set; } = new();
    
    protected override async Task OnInitializedAsync()
    {
        var blocks = Content!.GetValue<List<Content>>("Content");
        if (blocks != null && blocks.Any())
        {
            ContentBlocks = blocks;
        }
        HeaderImage = (await Content!.GetMedia("HeaderImage", Mediator, "/assets/img/post-sample-image.jpg")).FirstOrDefault()!;
    }

}