@using ZauberCMS.Core.Media.Models
@using ZauberCMS.Web.Layouts
@implements ZauberCMS.Core.Content.Interfaces.IContentView

@* This is the layout you want to use *@
@layout MainLayout

@* This is where you set Head/Meta information *@
<PageTitle>@(Content!.GetValue<string>("PageTitle"))</PageTitle>
<SectionContent SectionId="MainLayout.Sections.PageHeadContent">
    <meta name="description" content="@(Content!.GetValue<string>("MetaDescription"))">
</SectionContent>

@* 
    All properties are available through Content.GetValue<string>("") if your value is saved as a type
    then you can call Content.GetValue<MyType>("")
*@

<header class="masthead" style="background-image: url('@(HeaderImage.Url)')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>@(Content!.GetValue<string>("Heading"))</h1>
                    <span class="subheading">@(Content!.GetValue<string>("SubHeading"))</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">

    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @((MarkupString)(Content!.GetValue<string>("Content") ?? string.Empty))

            @* 
                This renders any custom components you have selected on the page
            *@
            <div class="mb-4">
                <RenderCustomContent Content="@(Content)" CustomComponents="@(Content!.GetValue<List<string>>("ContactForm"))" />
            </div>
        </div>
    </div>
</div>

@code {
    @* This is the content page passed in that matches the url *@
    [Parameter] public Content? Content { get; set; }
    [Parameter] public Dictionary<string, string>? LanguageKeys { get; set; }
    private Media HeaderImage { get; set; } = new();
    
    protected override async Task OnInitializedAsync()
    {
        HeaderImage = (await Content!.GetMedias("HeaderImage", Mediator, "/assets/img/contact-bg.jpg")).FirstOrDefault()!;
    }
}
