@page "/settings"
@using ZauberCMS.Core.Data

@layout AdminLayout

@inject NavigationManager NavigationManager

<PageTitle>Settings</PageTitle>

<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Reverse="true" Gap="5" Style="margin-top: -5px; padding-top: 0; padding-bottom: 10px;">
    <RadzenButton Variant="Variant.Filled" Text="Create" Click=@(args => NavigationManager.NavigateTo("/createcontentype"))/>
</RadzenStack>

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@ContentTypes" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@SelectedContentTypes>
    <Columns>
        <RadzenDataGridColumn Property="Id" Filterable="false" Title="ID" Frozen="true" Width="80px" TextAlign="TextAlign.Center"/>
        <RadzenDataGridColumn Property="Name" Title="Name" Frozen="true" Width="160px"/>
    </Columns>
</RadzenDataGrid>

<SectionContent SectionId="AdminLayout.Sections.HeaderBeginning">
    <RadzenSidebarToggle Click="@(() => ToggleSideBar())" />
</SectionContent>

<SectionContent SectionId="AdminLayout.Sections.SideBar">
    <RadzenSidebar @bind-Expanded="@Expanded">
        <div class="rz-p-4">
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Settings</RadzenText>
        </div>
        <RadzenTree Style="width: 100%;">

            <RadzenTreeItem Text="Content Types">
                <Template>
                    @*<img alt="BMW" src="https://upload.wikimedia.org/wikipedia/commons/4/44/BMW.svg" style="width: 20px; margin-right: 8px;"/>*@
                    <RadzenIcon Icon="home"/>
                    <strong>@context.Text</strong>
                </Template>
            </RadzenTreeItem>

            <RadzenTreeItem Text="Data Types">
                <Template>
                    @*<img alt="BMW" src="https://upload.wikimedia.org/wikipedia/commons/4/44/BMW.svg" style="width: 20px; margin-right: 8px;"/>*@
                    <RadzenIcon Icon="home"/>
                    <strong>@context.Text</strong>
                </Template>
            </RadzenTreeItem>
        </RadzenTree>
    </RadzenSidebar>
</SectionContent>

@code {
    [Inject] private ZauberDbContext ZauberDbContext { get; set; }
    
    private IEnumerable<ContentType> ContentTypes { get; set; }
    private IList<ContentType> SelectedContentTypes { get; set; }
    public bool Expanded { get; set; } = true;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        ContentTypes = ZauberDbContext.ContentTypes;

        SelectedContentTypes = new List<ContentType> { ContentTypes.FirstOrDefault() };
    }
    
    public void ToggleSideBar()
    {
        Expanded = !Expanded;
    }
}