@using ZauberCMS.Core
@inherits LayoutComponentBase

<HeadContent>
    <style>
        .rz-dialog-side-position-right {
            width: 600px;
            border-radius: 0;
            margin-left: 30px;
        }
    </style>
</HeadContent>

<RadzenComponents/>
<RadzenLayout>
    <RadzenHeader class="rz-background-color-primary-darker">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="5" Style="height: 100%;">
            <RadzenSidebarToggle Click="@(() => ToggleSideBar())"/>
            <SectionOutlet SectionId="@Sections.HeaderBeginning"/>
            <RadzenIcon Icon="fingerprint"/>
            <SectionLinks/>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@Expanded">
        <SectionTrees SectionAlias="@(SectionAlias)" />
        <SectionOutlet SectionId="@Sections.SideBar"/>
    </RadzenSidebar>
    <RadzenBody>
            @Body
    </RadzenBody>
    <SectionOutlet SectionId="@Sections.Footer"/>
</RadzenLayout>

@code {
    [CascadingParameter(Name = Constants.Sections.SectionAlias)] public string? SectionAlias { get; set; }
    
    private bool Expanded { get; set; } = true;
    private void ToggleSideBar()
    {
        Expanded = !Expanded;
    }
    
    internal static class Sections
    {
        internal static SectionOutlet? SideBar = new();
        internal static SectionOutlet? Footer = new();
        internal static SectionOutlet? HeaderBeginning = new();
    }
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>