@using Microsoft.EntityFrameworkCore
@using ZauberCMS.Core.Content.Commands
@using ZauberCMS.Core.Data
<div class="rz-p-4">
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Content Types</RadzenText>
</div>
<RadzenTree Data="@ContentTypes" Change="@OnChange" @bind-Value="@Selection">
    <RadzenTreeLevel Expanded="@(_ => false)" HasChildren="@(_ => false)" TextProperty="Name"/>
</RadzenTree>
<div class="rz-p-4">
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Data Types</RadzenText>
</div>
<p>TODO</p>

@code {
    [Inject] public IServiceProvider ServiceProvider { get; set; } = default!;

    private List<ContentType> ContentTypes { get; set; } = [];
    private object? Selection { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var items = await Mediator.Send(new GetContentTypesCommand
        {
            OrderBy = GetContentTypesOrderBy.Name,
            AmountPerPage = 1000 // Probably should have a better way of doing this
        });
        ContentTypes = items.Items.ToList();
    }
    
    void OnChange()
    {
        if (Selection is ContentType contentType)
        {
            NavigationManager.NavigateTo($"/admin/updatecontentype/{contentType.Id}", forceLoad:true);
        }
    }

}