@page "/account/manage/profile"
@layout SectionLayout
<PageTitle>Edit Profile</PageTitle>

<div class="container">
    <div class="row my-5 justify-content-md-center">
        <div class="col-sm-8">
            <EditForm Model="@CreateUpdateUserCommand.User" OnValidSubmit="@HandleValidSubmit">
                <div class="text-danger">
                    <FluentValidationValidator/>
                    <ValidationSummary/>
                </div>

                <fieldset class="border p-4">
                    <legend class="float-none w-auto p-2">
                        Profile
                    </legend>
                    <div class="mb-3">
                        <label class="form-label bf-label">Username</label>
                        <InputText type="text" @bind-Value="CreateUpdateUserCommand.User.UserName" class="form-control shadow-sm"/>
                        <small>
                            <ValidationMessage For="@(() => CreateUpdateUserCommand.User.UserName)" class="text-danger"/>
                        </small>
                    </div>
                    @if (!UserIsExternalLogin)
                    {
                        <div class="mb-3">
                            <label class="form-label bf-label">Email</label>
                            <InputText type="text" @bind-Value="CreateUpdateUserCommand.User.Email" class="form-control shadow-sm"/>
                            <ValidationMessage For="@(() => CreateUpdateUserCommand.User.Email)" class="text-danger"/>
                        </div>
                    }

                    @*<div class="mb-3">
                        <label class="form-label bf-label">Profile Image</label>
                        <div class="d-flex">
                            @if (CreateUpdateUserCommand.User.ProfileImage != null)
                            {
                                <div class="me-2">
                                    <img src="@CreateUpdateUserCommand.User.ProfileImage.Url?width=100" alt="Profile Image" class="img-thumbnail"/>
                                </div>
                            }
                            <div>
                                <FileUpload @bind-Value="CreateUpdateUserCommand.ProfileImageUpload" ImagesOnly="true" MaxAllowedFiles="1"/>
                                <ValidationMessage For="@(() => CreateUpdateUserCommand.ProfileImageUpload)" class="text-danger"/>
                            </div>
                        </div>
                    </div>*@
                </fieldset>

                @if (!UserIsExternalLogin)
                {
                    <fieldset class="mt-3 border p-4">
                        <legend class="float-none w-auto p-2">
                            Change Password
                        </legend>
                        <div class="mb-3">
                            <label class="form-label bf-label">Current Password</label>
                            <InputText type="text" @bind-Value="CreateUpdateUserCommand.CurrentPassword" class="form-control shadow-sm"/>
                            <ValidationMessage For="@(() => CreateUpdateUserCommand.CurrentPassword)" class="text-danger"/>
                        </div>

                        <div class="mb-3">
                            <label class="form-label bf-label">New Password</label>
                            <InputText type="text" @bind-Value="CreateUpdateUserCommand.NewPassword" class="form-control shadow-sm"/>
                            <ValidationMessage For="@(() => CreateUpdateUserCommand.NewPassword)" class="text-danger"/>
                        </div>

                        <div class="mb-3">
                            <label class="form-label bf-label">Confirm Password</label>
                            <InputText type="text" @bind-Value="CreateUpdateUserCommand.NewPasswordConfirmation" class="form-control shadow-sm"/>
                            <ValidationMessage For="@(() => CreateUpdateUserCommand.NewPasswordConfirmation)" class="text-danger"/>
                        </div>

                    </fieldset>
                }


                <div class="pt-3">
                    <div class="d-flex justify-content-end">
                        @if (Loading)
                        {
                            <AnimatedSpinner Classes="h-8 w-8 text-indigo-400" Show="Loading"/>
                        }
                        else
                        {
                            <button type="submit" class="ms-3 d-inline-flex justify-content-center py-2 px-4 border-0 shadow-sm text-white bg-primary rounded">
                                Save Profile
                            </button>
                        }
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>