@using ZauberCMS.Core.Content.Commands
@using ZauberCMS.StarterSite.Layouts
@implements ZauberCMS.Core.Content.Interfaces.IContentView
@* This is the layout you want to use *@
@layout MainLayout

@* This is where you set Head/Meta information *@
<PageTitle>@(Content!.GetValue<string>("PageTitle"))</PageTitle>
<SectionContent SectionId="MainLayout.Sections.PageHeadContent">
    <meta name="description" content="@(Content!.GetValue<string>("MetaDescription"))">
</SectionContent>


<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">
        Our Blog
    </h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">

        @foreach (var blogPage in BlogPages)
        {
            <div class="feature col">
                <h3 class="fs-2 text-body-emphasis">
                    <a href="@($"/{blogPage.Url}")" class="icon-link text-black">
                        @blogPage.Name
                    </a>
                </h3>
                <p>@(blogPage.GetValue<string>("Summary"))</p>
                <a href="@($"/{blogPage.Url}")" class="icon-link">
                    View Blog Post
                    <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
            </div>
        }
        
    </div>
</div>



@code {
    [Parameter] public Content? Content { get; set; }
    
    private List<Content> BlogPages { get; set; } = [];
    
    protected override async Task OnInitializedAsync()
    {
        var amountPerPage = Content!.GetValue<int>("AmountPerPage");
        var pages = await Mediator.Send(new QueryContentCommand
        {
            OrderBy = GetContentsOrderBy.DateCreated,
            AmountPerPage = amountPerPage,
            WhereClause = content => content.ParentId == Content!.Id 
        });
        BlogPages = pages.Items.ToList();
    }
}