@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ZauberCMS.Components.ContentComponents
@using ZauberCMS.Core.Extensions
@inherits ZauberCMS.Core.Rendering.ZauberViewPage<ZauberCMS.Web.Shared.Models.SharedViewModel>

<header class="masthead" style="background-image: url('@(Model.HeaderImage?.Url)')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>@(Model.GetValue<string>("Heading"))</h1>
                    <span class="subheading">@(Model.GetValue<string>("SubHeading"))</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">

    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @Html.Raw(Model.GetValue<string>("Content") ?? string.Empty)

            @* 
                This renders any custom components you have selected on the page
            *@
            <div class="mb-4">
                <component type="typeof(RenderCustomContent)" 
                           param-Content="@(Model.BaseContent)" 
                           param-CustomComponents="@(Model.GetValue<List<string>>("ContactForm"))" 
                           render-mode="ServerPrerendered" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="_framework/blazor.web.js"></script>
}