@using ZauberCMS.Core.Extensions
@model ZauberCMS.Web.Home.Models.HomeViewModel

<header class="masthead" style="background-image: url('@(Model.HeaderImage?.Url)')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>@(Model.GetValue<string>("Heading"))</h1>
                    <span class="subheading">@(Model.GetValue<string>("SubHeading"))</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">

    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @Html.Raw(Model.GetValue<string>("Content") ?? string.Empty)
            <hr class="my-4"/>
            @foreach (var post in Model.BlogPosts)
            {
                @await Component.InvokeAsync("BlogPostPreview", new { post })
                <hr class="my-4"/>
            }

            <form asp-action="SubmitComment" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required />

                <label for="comment">Comment:</label>
                <textarea id="comment" name="comment" required></textarea>

                <button type="submit">Submit</button>
            </form>

            @if (ViewData["UserName"] != null)
            {
                <h3>Thank you, @ViewData["UserName"]!</h3>
            }
        </div>
    </div>
</div>