@inherits LayoutComponentBase

<HeadContent>
    <style>
        .rz-dialog-side-position-right {
            width: 800px;
            border-radius: 0;
        }
    </style>
</HeadContent>

<RadzenComponents/>

<RadzenLayout>
    <CascadingValue Value="@this">
        <RadzenHeader class="rz-background-color-primary-darker">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="5" Style="height: 100%;">
                <RadzenSidebarToggle Click="@(() => ToggleSideBar())"/>
                <RadzenIcon Icon="fingerprint"/>
                <SectionLinks CurrentSection="@(SectionAlias)" />
            </RadzenStack>
        </RadzenHeader>
        @if (!SectionAlias.IsNullOrWhiteSpace())
        {
            <RadzenSidebar @bind-Expanded="@Expanded">
                <SectionTrees SectionAlias="@(SectionAlias)"/>
            </RadzenSidebar>   
        }
        <RadzenBody>
            @Body
        </RadzenBody>
    </CascadingValue>
</RadzenLayout>

@code {
    private string? SectionAlias { get; set; }
    public void SetSection(string value)
    {
        SectionAlias = value;
        StateHasChanged();
    }
    
    private bool Expanded { get; set; } = true;
    private void ToggleSideBar()
    {
        Expanded = !Expanded;
    }
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>